<h1>Let's do some word counting!</h1>
<form action="/count">
  <div class="form-group">
    <label for="sentence">What sentence would you like to check?</label>
    <input id="sentence" name="sentence" class="form-control" type="text">

    <label for="word">What word would you like to count?</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check your word count!</button>
</form>
